# Binaries & Objs
**/bin/
**/obj/

# Visual Studio

.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.sln.DotSettings.user
**/x64/

ThirdParties/python3.7/
ThirdParties/openvdb/
ThirdParties/tbb/
ThirdParties/gmp/

mesh_autoremesher.zip
mesh_autoremesher/src/autoremesher.pyd